#Se busca la versión mas actual de cada paquete en https://pypi.org/
Django==5.2.7

django-cors-headers

django-environ
djangorestframework
djoser
social-auth-app-django

django-ckeditor==6.7.0

pytz


mutagen

psycopg2-binary

argon2-cffi
django-environ

stripe
braintree

pyJWT

boto3
django-storages

markdown
gunicorn
whitenoise

requests


dj-database-url
psycopg2-binary
django-anymail[resend]

Pillow
